
body {
    font-family: Arial, sans-serif;
    background-color: #0F3D85;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.title-card {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0;
}

h1 {
    margin: 0; /* Remove default margin for a tighter fit inside the card */
}

h1 {
    margin: 0; 
    font-family: Verdana, sans-serif;  /* Set the font family */
    color: #0F3D85;                    /* Set the color */
}

.card {
    width: 80%;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    top: -100px;  /* Adjusted the margin-top and margin-bottom to 100px each */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


button {
    background-color: #0F3D85;
    color: white;
    padding: 8px 15px;
    margin: 3px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.2s, transform 0.2s;
    max-width: 250px;
    width: 100%;
    animation: bounce 1s infinite;
}

button:hover {
    background-color: #0056b3;
}

.logo {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}
.portal-btn {
    position: absolute;
    top: 25px;
    right: 40px;
    display: inline-block;
    padding: 5px 15px;
    background-color: #1a4b9b;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.2s;
}

.portal-btn:hover {
    background-color: #0056b3;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.back-to-login-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #007BFF;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.back-to-login-btn:hover {
    background-color: #0056b3;
}